<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
    <h3>Customer: <%= @user.email %></h3>
    <h3>Thank you for your order, <%= @user.first_name %> <%= @user.last_name %>!</h3>
  </header>
  </header>

    <div class="panel panel-default items">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |item| %>
            <%= render 'order' , product: item[:product], item: item[:item] %>
              <% end %>

        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">
              TOTAL:
            </th>
            <th>
              $<%= @order.total_cents.to_i / 100.00 %>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>

</section>
